<div>
  <app-header [user]="user"></app-header>
  <section *ngIf="!user.registered">
    <img src="../assets/images/chooseMyPlate.gov.png" />
  </section>
  <section *ngIf="user.registered">
    <img src="../assets/images/generic-plate.png" />
  </section>
  <p>this text is<span [ngStyle]="setImportance()"> very </span>important!</p>
  <input
    type="radio"
    name="preference"
    id="importantHighlight"
    style="transform: scale(1.5)"
    (click)="setStylePreference('hilite')"
  />
  <label for="importantHighlight">Highlight</label>
  <input
    type="radio"
    name="preference"
    id="importantCaps"
    style="transform: scale(1.5)"
    (click)="setStylePreference('caps')"
  />
  <label for="importantCaps">Caps</label>
  <!--   <button (click)="addFruit()">Add a serving of fruit</button>
  <h2>Fruit Counter: <span #fruit></span></h2>
 -->

  <div [ngSwitch]="loggedIn">
    <p>
      Logged In:
      <span *ngSwitchCase="false" class="notRegistered">{{ loggedIn }}</span>
      <span *ngSwitchCase="true">{{ loggedIn }}</span>
      <span *ngSwitchDefault>Default Text Goes Here</span>
    </p>
  </div>
  <app-child (login)="logIn($event)"></app-child>
  <!-- <p>The App is working!</p> -->
  <!-- <form class="caution"> -->
  <!--   <app-form-input icon="envelope">
    <small>Business Email</small>
    <label for="emailAddress">Email: </label>
    <input id="emailAddress" type="email" />
  </app-form-input> -->

  <!-- </form> -->
</div>
